{% extends "basic.html" %}
{% load mark %}
{% block title %}
	{{ articleTitle }}
{% endblock %}

{% block content %}
<style>
	label {
		font-size: 0.8em;
		color: #9A9A9A;
	}
	table {
		width: 100%;
		table-layout:fixed;
	}
	.info {
		margin-top: 30px;
		width: 100%;
		border-bottom: solid 1px #9A9A9A;
		padding-bottom: 5px;
	}
	.content-warp {
		margin-top: 100px;
	}
</style>
	<div id="title">
		{{ articleTitle }}
	</div>
	<div class="info">
		<table>
		<tr>
			<td>
				<label>阅读:({{ scanTimes }})</label>
			</td>
			<td>
				<label>Post: {{ tsp }}</label>
			</td>
			<td>
				<label>作者: {{ author }}</label>
			</td>
		</tr>
		</table>
	</div>
	<div class="content-warp">
		{{ content | my_markdown | safe }}
	</div>
{% endblock %}
